html, body {
	height: 100%;
	margin: 0;
}
.j-default {
	background-color: #F8F8F8;
}
.j-success {
	background-color: #d9edf7;
}
.j-fail {
	background-color: #f2dede;
}
.jumbotron {
	padding-top: 10%;
	padding-bottom: 10%;
}
.j-dials {
	padding-top: 2px;
	padding-bottom: 2px;
}
